/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
li {
  list-style: none;
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Lato';
}

canvas {
  display: block;
  vertical-align: bottom;
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.text,
.particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
.text {
  background-color: #fafafa;
  -webkit-clip-path: polygon(0 0, 90% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0%, 50% 100%, 0% 100%);
}
#content {
  position: relative;
  top: 40%;
  left: 15%;
  color: #000;
}
#top {
  font-size: 50px;
  font-weight: 400;
}
#bottom {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 300;
}
#contactInfo {
  margin-top: 10px;
  width: 93%;
  display: inline-block;
}
.infoBox .infoLink {
  float: left;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}
.infoBox a {
  color: #f36300;
  text-decoration: none;
}
.particles-js {
  background-color: #f36300;
  -webkit-clip-path: polygon(90% 0, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(90% 0, 100% 0%, 100% 100%, 50% 100%);
}
@media only screen and (max-width: 900px) {
  #content {
    z-index: 1;
    position: relative;
    top: 40%;
    left: 22%;
    color: #000;
  }
  .text {
    z-index: 1;
    background-color: #fafafa;
    -webkit-clip-path: polygon(0 0, 90% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .particles-js {
    background-color: #f36300;
    -webkit-clip-path: polygon(90% 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  }
}
@media only screen and (max-width: 600px) {
  #content {
    z-index: 1;
    position: relative;
    top: 40%;
    left: 10%;
    color: #000;
  }
  .text {
    z-index: 1;
    background-color: #fafafa;
    -webkit-clip-path: polygon(0 0, 90% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .particles-js {
    background-color: #f36300;
    -webkit-clip-path: polygon(90% 0, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  }
}
